<div id="form-template">
  <form>
    Create a New Feed
    <label>
      Url
      <input type="text" name= "feed[url]" value="<%=feed.get('url')%>" 
          placeholder="http://..." value="<%=feed.get('url')%>">
    </label>
    <button type="submit" class="feed-form">Create Feed</button>
  </form>
  <br>
  <br>
</div>